@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 폰트 설정 */
@layer base {
    html {
      @apply font-sans;
    }
  }

/* 스크롤바 숨기기 */
* {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Opera */
*::-webkit-scrollbar {
  display: none;
}